<!DOCTYPE html>
<html ng-app="RepsApp">
  <head>
    <meta charset="utf-8">
    <title>Find your representative</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <!-- TODO You need to put your style imports here -->
    <style>
      body {padding-top: 70px;}
    </style>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="conatiner-fluid">
        <div class="navbar-header">
          <a href="/" class="navbar-brand"> Search for your Reps</a>
        </div>
      </div>
    </nav>

    <div ng-controller="MainCtrl as main" class="container">

<!-- search by ZIP --->
      <form ng-submit="main.searchByZip(main.inputs.zip)" class="form-inline">

      <div class="form-group">
        <label>
          Zip Code: <input class="form-control" type="string" ng-model="main.inputs.zip" />
        </label>
      </div>


        <button class="btn btn-info" type="submit">Search Zip Code</button>
      </form>

      <!-- search by name representatives--->

      <form ng-submit="main.searchByName(main.inputs.repName)" class="form-inline">

      <div class="form-group">
        <label>
          Search Rep by Name: <input class="form-control" type="string" ng-model="main.inputs.repName" />
        </label>
      </div>


        <button class="btn btn-info" type="submit">Search Rep Name</button>
      </form>

      <!-- search by STATE representatives--->

      <form ng-submit="main.searchByState(main.inputs.repState)" class="form-inline">

      <div class="form-group">
        <label>
          Search Rep by State: <input class="form-control" type="string" ng-model="main.inputs.repState" />
        </label>
      </div>


        <button class="btn btn-info" type="submit">Search Rep State</button>
      </form>

      <!-- search by NAME SENATORS--->

      <form ng-submit="main.searchSensByName(main.inputs.senName)" class="form-inline">

      <div class="form-group">
        <label>
          Search Senator by Name: <input class="form-control" type="string" ng-model="main.inputs.senName" />
        </label>
      </div>


        <button class="btn btn-info" type="submit">Search Senator Name</button>
      </form>

      <!-- search by STATE SENATORS--->

      <form ng-submit="main.searchSensByState(main.inputs.senState)" class="form-inline">

      <div class="form-group">
        <label>
          Search Senator by State: <input class="form-control" type="string" ng-model="main.inputs.senState" />
        </label>
      </div>


        <button class="btn btn-info" type="submit">Search Senator State</button>
      </form>

      <ul class="list-group">
        <li class="list-group-item" ng-repeat="rep in main.reps">
          <h4 class="list-group-item-heading">{{rep.name}}</h4>
          <p> State: {{rep.state}}</p>
        </li>


    </div>
    <!-- TODO You need to put your script tags here -->
    <script src="/bower_components/angular/angular.min.js" ></script>
    <script src="/js/app.js"></script>
  </body>
</html>
